@import "./responsive";
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 6.5%;
    margin-top: 35px;
    margin-bottom: 12px;
    
    @include desktop1 {
        margin: auto 8%;
        margin-top: 45px;
        margin-bottom: 14px;
    }
    @include desktop2 {
        margin: auto 15%;
        margin-top: 50px;
        margin-bottom: 16px;
    }
    @include desktop3 {
        margin: auto 20%;
        margin-top: 55px;
        margin-bottom: 18px;
    }
    
    nav{
        margin-left: 400px;
        @include laptop1{
            margin-left: 330px;
        }
        @include laptop2{
            margin-left: 200px;
        }
        @include laptop3{
            margin-left: 100px;
        }
        @include tablet1{
            display: none;
        }
        img{
            cursor: pointer;
        }
        ul{
            
            li{
                list-style: none;
                display: inline-block;
                
            }
            a{
                margin-right: 28px;
                text-decoration:none;
                font-weight: 800;
                font-size: 11.5px;
                line-height: 14px;
                color: $shade1;
                @include laptop2{margin-right: 20px;
                    font-size: 10.3px;
                    line-height: 14px;
                }
                @include laptop3{margin-right: 14px;
                    font-size: 8.8px;
                    line-height: 12px;
                    
                }
                &:hover{
                    color: $textColor;
                }
            }
            
        }
    }
    button{
        display: inline-block;
        outline: none;
        border: none;
        width: 140px;
        height: 37px;
        background-color: $primary;font-weight: 800;
        font-size: 12.5px;
        line-height: 15px;
        color: $textColor;
        margin-left: 20px;
        @include laptop2{
            font-size: 12px;
            line-height: 14px;
            margin-left: 18px;
        }
        @include laptop3{
            width: 100px;
            height: 27px;font-size: 8.5px;
            line-height: 12px;
            
        }
        @include tablet1{
            display: none;
        }
        &:hover{
            cursor: pointer;
            background-color: $secondary;
        }
        
    }
    
}
